<div class="post">
    <h2></h2>
    <div class="list-item">
        <p>ID:<%- model.id %></p>
        <p>Title: <%- model.title %></p>
        <p>Email: <%- model.email %></p>
        <p>Description: <%- model.description %></p>
    </div>
</div>