<div class="post">
    <h2></h2>
    <div class="list-item">
        <ul>
            <li>ID:<%- model.id %></li>
            <li>Title: <%- model.title %></li>
            <ul>
                <li><b>Email: <%- model.email %></b></li>
                <li>Description: <%- model.description %></li>
            </ul>
        </ul>
    </div>
</div>