<!DOCTYPE html>
<html>

<head>
    <title>
        Pwoli with Express & TypeScript Sample App
    </title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <%- pwoliView.head() %>
    <link rel="stylesheet" href="/static/bootstrap.css">
</head>

<body>
    <%- body; %>
</body>
<%- pwoliView.endPage()%>

</html>